* {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

body {
    background: #000000;
    background: -webkit-linear-gradient(to top, #434343, #000000);
    background: linear-gradient(to top, #434343, #000000);
    background-repeat: no-repeat;
    color: #ffffff;
    min-width: 370px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #C6FFFA;
    border-radius: 1rem;
}

.main::before,
.main::after {
    content: '';
    background: #283048;
    background: -webkit-linear-gradient(to top, #859398, #283048);
    background: linear-gradient(to top, #859398, #283048);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;   
}

.main::after {  
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before, 
    .main::after {
        width: 70vw;
    }
}